.flits-widget-popup-main .flits-widget-header {
  border-radius: 20px 20px 6px 6px;
  background: #f1f1f1;
  background: var(--flitsWidgetPrimaryColor);
  /* background: linear-gradient(
    180deg,
    #00032a 0%,
    var(--flitsWidgetPrimaryColor) 100%
  ); */
  /* padding: 130px 30px 200px; */
  padding: 60px 20px 200px;
  margin-top: -1px;
}
.flits-widget-popup-main.scrolled
  .flits-no-login-default-view
  .flits-widget-header {
  padding: 20px 30px !important;
  /* position: sticky; */
  top: 0;
  border-radius: 0;
  z-index: 1;
}
.flits-widget-popup-main .flits-widget-header h2 {
  font-size: 32px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--flitsWidgetHeaderText);
  text-transform: unset;
}
.flits-widget-popup-main.scrolled
  .flits-no-login-default-view
  .flits-widget-header
  h2 {
  height: 0;
  width: 0;
  opacity: 0;
}
.flits-widget-popup-main .flits-widget-header h3 {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 1px;
  font-weight: 300;
  color: var(--flitsWidgetHeaderText);
  text-transform: unset;
}
.flits-widget-otp-main {
  border: 1px solid #e2e2e259;
  box-shadow: 0px 4px 24px -4px #0000001f;
  background: #ffffff;
  padding: 35px 21px 35px 21px;
  border-radius: 10px;
  max-width: 90%;
  margin: -180px auto 0;
  min-height: 225px;
  box-shadow: var(--flitsWidgetCommonBoxShadow);
  position: relative;
}
.flits-widget-popup-main.scrolled .flits-widget-otp-main {
  margin-top: 20px;
}
.flits-widget-popup-main .flits-widget-body {
  padding: 20px 20px;
}
.flits-widget-popup-main
  .flits-widget-point-section
  .flits-widget-section-head
  h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 10px 0 10px;
  color: var(--flitsWidgetPrimaryTextColor);
  text-transform: unset;
}
.flits-widget-popup-main .flits-widget-section-head p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 20px;
}
.flits-widget-inside-body {
  padding: 20px;
}
.flits-widget-popup-main .flits-widget-inside-body-head {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #171717;
  padding: 10px 0;
  color: var(--flitsWidgetPrimaryTextColor);
}
.flits-widget-popup-main .flits-reward-birth-terms {
  display: block;
  margin-top: 5px;
}
.defualt-view-wrapper.hide {
  display: none;
}
.flits-widget-sticky-footer {
  display: block !important;
  /* padding: 40px; */
  padding: 0;
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.77) -127.85%,
    #ffffff 124.05%
  );
  position: sticky;
  bottom: 0;
}
.flits-no-login-default-view[data-flits-login-type="otp"]
  .flits-widget-otp-main {
  margin-top: -220px;
}
.flits-widget-popup-main.scrolled
  .flits-no-login-default-view[data-flits-login-type="otp"]
  .flits-widget-otp-main {
  margin-top: 20px;
}
.flits-no-login-default-view[data-flits-login-type="otp"] .flits-widget-header {
  padding-bottom: 242px;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0px, calc(var(--scroll, 0) * -200px), 0px);
  transform: translate3d(0px, calc(var(--scroll, 0) * -242px), 0px);
  will-change: transform;
}
.flits-no-login-default-view[data-flits-login-type="normal"]
  .flits-widget-header {
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0px, calc(var(--scroll, 0) * -200px), 0px);
  transform: translate3d(0px, calc(var(--scroll, 0) * -200px), 0px);
  will-change: transform;
}
.flits-widget-popup-main input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #86898c;
  color: --var(flitsWidgetPrimarySecondaryColor);
}
.flits-widget-popup-main .flits-widget-fixed-header h3 {
  opacity: 0;
  transition: opacity 0.1s ease-in;
  margin: 0;
  text-transform: unset;
}
.flits-widget-popup-main.scrolled .flits-widget-fixed-header h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  height: auto;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 1px;
  font-weight: 300;
  color: var(--flitsWidgetHeaderText);
  text-transform: unset;
}
.flits-widget-fixed-header {
  opacity: 0;
  background: var(--flitsWidgetPrimaryColor);
  position: sticky;
  top: 0;
  height: 0;
  width: 0;
}
.flits-widget-popup-main.scrolled .flits-widget-fixed-header {
  opacity: 1;
  height: auto;
  width: auto;
  padding: 20px;
  z-index: 9;
}
.flits-widget-otp-main > .flits-widget-loader-wrap {
  border-radius: 30px;
}
.flits-widget-otp-step-3-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.flits-widget-otp-step-3-header svg {
  margin-right: 10px;
}
.flits-widget-otp-step-3-header svg path {
  stroke: var(--flitsWidgetHeaderText);
}
.flits-widget-browser-safari
  .flits-no-login-default-view[data-flits-login-type="otp"]
  .flits-widget-header,
.flits-widget-browser-safari
  .flits-no-login-default-view[data-flits-login-type="normal"]
  .flits-widget-header {
  -webkit-transition: none;
  transition: none;
}

.flits-widget-subhead-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.flits-widget-popup-main .flits-widget-subhead-with-icon h3 {
  margin: 0;
  text-transform: unset;
}
.flits-widget-activity-icon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.flits-widget-activity-icon svg path {
  stroke: var(--flitsWidgetHeaderText);
}
.flits-widget-activity-icon:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}
.flits-widget-header-padding-adjust {
  padding-bottom: 60px !important;
}
@supports (-webkit-touch-callout: none) {
  .flits-widget-browser-safari
    .flits-no-login-default-view[data-flits-login-type="otp"]
    .flits-widget-header,
  .flits-widget-browser-safari
    .flits-no-login-default-view[data-flits-login-type="normal"]
    .flits-widget-header {
    -webkit-transition: none;
    transition: none;
  }
}
