.flits_error {
  color: #d10000;
  position: relative;
  font-size: 12px;
}

.flits_change_password_error {
  font-size: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1025px) {
  .flits_change_password_error {
    font-size: 11px;
  }
}
