.flits-social-share-wrap {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  margin: 10px 0;
}
.flits-social-share-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  padding-right: 10px;
}
