.flits_col_md_6,
.flits_col_sm_6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.flits_mb_15 {
  margin-bottom: 15px !important;
}

.flits_input_wrap {
  position: relative;
  width: 100%;
}

.flits_input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  appearance: none;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0!important;
  cursor: text;
  border: 1px solid;
  border-color: var(--inputBGColor);
  background: 0 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 1.2!important;
  height: 36px;
  font-size: 16px;
  opacity: 1;
  -webkit-opacity: 1;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  background: var(--inputBGColor)!important;
}

.flits_desktop {
  display: block;
}

.flits_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .flits_mobile {
    display: block;
  }
  .flits_desktop {
    display: none;
  }
  .flits_col_xs_12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .flits_px_0 {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .flits_input[type="text"] {
    background: 0 0 !important;
  }
  .flits_input:not([type="checkbox"]) {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .flits_col_sm_6 {
    float: left;
    width: 50%;
  }
}
