.flits_tab_box_body {
  padding: 0 10px;
  height: 100%;
}

.flits_top_order_list_div {
  animation: flitsFadeIn 0.7s;
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
}

.flits_clearfix {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 992px) {
  .flits_tab_box_body {
    padding: 10px;
  }
}

@keyframes flitsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
