.flits_product_quantity {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.flits_input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  outline: 0;
  display: -webkit-box;
  appearance: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0!important;
  cursor: text;
  border: 1px solid;
  border-color: var(--inputBGColor);
  background: 0 0!important;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 1.2!important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor)!important;
  -webkit-text-fill-color: var(--contentTextColor)!important;
  opacity: 1;
  -webkit-opacity: 1;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.flits_input[name="product_quantity_input"] {
  text-align: center;
  padding: 8px 38px;
  background: var(--inputBGColor)!important;
  border: 0;
  border-radius: 5px;
}

.flits_input {
  font-size: 14px;
}

.flits_quantity_btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 30px;
  line-height: 36px;
  text-align: center;
  font-size: 25px;
  color: var(--contentTextColor);
}

.flits_quantity_btn[data-flits-qty-btn="plus"] {
  top: 0;
  right: 0;
  border-left: 0;
  border-color: var(--borderColor);
  border-radius: 0 5px 5px 0;
}

.flits_quantity_btn[data-flits-qty-btn="minus"] {
  top: 0;
  left: 0;
  border-right: 0;
  border-color: var(--borderColor);
  border-radius: 5px 0 0 5px;
}

.flits_quantity_btn[data-flits-qty-btn="minus"] svg {
  width: 15px;
}

.flits_quantity_btn[data-flits-qty-btn="plus"] svg {
  width: 15px;
}

.flits_disabled {
  pointer-events: none !important;
  opacity: 0.45 !important;
  cursor: not-allowed !important;
}


@media screen and (max-width: 1025px) {
  .flits_input {
    font-size: 12px;
  }
}
