.flits_button {
  cursor: pointer;
  cursor: pointer;
  display: inline-block;
  min-height: 14px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2;
  color: #0009;
  margin: 0;
  padding: 10px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.flits_button:disabled {
  cursor: default;
  opacity: 0.45 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  pointer-events: none !important;
  outline-offset: 0px !important;
  outline: unset !important;
}

.flits_primary_btn {
  background: var(--primaryButtonBGColor) !important;
  border: 1px solid var(--primaryButtonBGColor) !important;
  color: var(--primaryButtonTextColor) !important;
}

.flits_primary_btn:hover {
  background: var(--primaryButtonHoverBGColor) !important;
  border: 1px solid var(--primaryButtonHoverBGColor) !important;
  color: var(--primaryButtonTextColor) !important;
}

.flits_remove_product {
  display: none;
  position: absolute;
  top: -10px;
  right: -7px;
  width: 25px !important;
  height: 25px;
  padding: 0;
  border-radius: 50px;
  margin: 0 !important;
}

.flits_set_show {
  display: block;
}

@media screen and (max-width: 992px) {
  .flits_remove_product {
    display: block !important;
  }
}
