.flits_secondary_button {
    cursor: pointer;
    display: inline-block;
    min-height: 14px;
    outline: 0;
    vertical-align: baseline;
    font-family: inherit;
    padding: 10px 20px;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    background: 0 0;
    border: 1px solid var(--secondaryButtonBGColor);
    color: var(--secondaryButtonTextColor);
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    transition: .3s all;
}

.flits_secondary_button:hover {
    background: var(--secondaryButtonBGColor)!important;
    color: var(--primaryButtonTextColor)!important;
    border: 1px solid var(--secondaryButtonBGColor)!important;
}