.flits_greeting_header {
  margin-top: 15px;
  margin-bottom: 30px;
  width: calc(100% - 286px);
  text-align: center;
  margin-left: auto;
}

.flits_h1 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 2em;
  margin: .67em 0;
}

.flits_greeting_text {
  margin: 0;
  font-size: 30px;
  color: var(--contentTextColor);
  font-weight: 400;
}

.flits_user_name {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .flits_greeting_header {
    display: none;
  }
}
