.flits_col_md_4,
.flits_col_sm_4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.flits_text_center {
  text-align: center;
}

.flits_button {
  cursor: pointer;
  display: inline-block;
  min-height: 14px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2;
  color: #0009;
  margin: 0;
  padding: 10px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flits_primary_btn {
  background: var(--primaryButtonBGColor)!important;
  border: 1px solid var(--primaryButtonBGColor)!important;
  color: var(--primaryButtonTextColor)!important;
}

.flits_primary_btn:hover {
  background: var(--primaryButtonHoverBGColor)!important;
  border: 1px solid var(--primaryButtonHoverBGColor)!important;
  color: var(--primaryButtonTextColor)!important;
}

.flits_address_add_save_button {
  max-width: 240px;
  width: 100%;
}

.flits_mobile {
  display: none;
}

.flits_desktop {
  display: block;
}

@media screen and (max-width: 767px) {
  .flits_col_md_12 {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    position: relative;
  }
  .flits_desktop {
    display: none;
  }
  .flits_mobile {
    display: block;
  }
  .flits_mt_15 {
    margin-top: 15px !important;
  }
}

@media screen and (min-width: 768px) {
  .flits_col_sm_4 {
    float: left;
    width: 33.33%;
  }
}

@media screen and (min-width: 992px) {
  .flits_col_md_4 {
    float: left;
    width: 33.33%;
  }
}
