.flits-reward-page-loader-wrap {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 1);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}
.flits-reward-page-loader-wrap.active {
  display: flex;
  z-index: 1;
}
div.flits-reward-page-loader:empty {
  border: 3px solid #f3f3f3;
  -webkit-animation: flitsrewardpagespin 1s linear infinite;
  animation: flitsrewardpagespin 1s linear infinite;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: block;
  position: relative;
}

@keyframes flitsrewardpagespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
