.flits_top_product_left_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flits_product_image {
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
  border-radius: 2px;
  text-align: center;
  display: flex;
  min-width: 100px;
  width: 100px;
  height: 100px;
  cursor: default;
  align-items: center;
  justify-content: center;
}

.flits_product_image img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.flits_product_info {
  margin-left: 10px;
}

.flits_link {
  color: var(--linkColor) !important;
  cursor: pointer;
  text-decoration: none;
}

.flits_product_name {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: inherit;
  overflow: visible;
}

.flits_product_price,
.flits_product_item_count {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: left;
  white-space: inherit;
  overflow: visible !important;
  margin: 0;
  color: var(--contentTextColor) !important;
}

.flits_mt_10 {
  margin-top: 10px !important;
}

.flits_product_count {
  margin: 0;
  color: var(--contentTextColor)!important;
}

@media screen and (max-width: 654px) {
  .flits_top_product_left_info {
    width: 100%;
  }
}
