.flits_products_filter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: var(--navigationTextColor) !important;
    padding: 5px 15px;
    text-decoration: none;
    margin: 0;
    display: block;
  }