.flits_col_md_12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.flits_popup_mb_15 {
    margin-bottom: 15px!important;
}

.flits_input_wrap {
    position: relative;
    width: 100%;
}

.flits_form_message {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border-radius: 7px;
    padding: 8px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: unset;
    position: relative;
    appearance: none;
    margin: 0!important;
    cursor: text;
    border: 1px solid;
    border-color: var(--borderColor);
    background: 0 0!important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 1.2!important;
    height: 36px;
    font-size: 16px;
    color: var(--contentTextColor)!important;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    height: auto;
}

.flits_text_count {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #656565;
    bottom: -18px;
}

.flits_form_alert {
    color: #d20000;
    position: relative;
    font-size: 12px;
}

.flits_error_icon::before {
    content: "*";
}