.flits_input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0 !important;
  cursor: text;
  border: 1px solid;
  border-color: var(--borderColor);
  background: 0 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.2 !important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor) !important;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.flits_hint {
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  z-index: 10;
  color: #fff;
  bottom: -47px;
  background: #000;
  opacity: 0;
  transition: 0.5s opacity;
  display: none;
  opacity: 0;
}

.flits_input:focus + .flits_hint {
  display: block;
  opacity: 1;
}

.flits_hint::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  transform: rotate(90deg);
  display: block;
  width: 0;
  z-index: 1;
  left: 20px;
  top: -15px;
  border-color: transparent #000;
}