.flits_mx_15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.flis_my_10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.flits_button {
  cursor: pointer;
  display: inline-block;
  min-height: 14px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: #0009;
  font-family: inherit;
  margin: 0 0 0 3.5px;
  padding: 10px 20px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s all;
  cursor: pointer;
  display: inline-block;
  min-height: 14px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2;
  color: #0009;
  margin: 0;
  padding: 10px;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.flits_secondary_btn {
  background: 0 0;
  color: var(--secondaryButtonTextColor);
  border: 1px solid var(--secondaryButtonBGColor);
}

.flits_secondary_btn:hover {
  background: var(--secondaryButtonBGColor) !important;
  color: var(--primaryButtonTextColor) !important;
  border: 1px solid var(--secondaryButtonBGColor) !important;
}
