.flits_input_label {
  margin-left: 7px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--contentTextColor);
  font-weight: 400;
  cursor: default;
  margin-left: 0;
  margin-bottom: 3px;
  display: block;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .flits_input_label {
    white-space: nowrap;
    padding: 8px;
    margin: 0;
  }
  .flits_mobile {
    display: none;
  }
  .flits_wrap_text {
    white-space: normal !important;
  }
}
