.flits_col_md_6,
.flits_mb_15 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.flits_mb_15 {
  margin-bottom: 15px !important;
}

.flits_input_wrap {
  position: relative;
  width: 100%;
}

.flits_input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  vertical-align: unset;
  position: relative;
  margin: 0 !important;
  cursor: text;
  border: 1px solid;
  border-color: var(--borderColor);
  background: 0 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.2 !important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor) !important;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .flits_col_md_6 {
    float: left;
    width: 50%;
  }
}
