.flits_dropdown {
  position: relative;
  margin-left: auto;
  margin-bottom: 10px;
}

.flits_filter_dropbtn {
  background: var(--navigationBGColor);
  color: var(--navigationTextColor);
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flits_filter_text {
  letter-spacing: normal;
  color: var(--navigationTextColor) !important;
  margin: 0;
}

.flits_drop_down_icon {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  color: var(--navigationTextColor) !important;
}

.flits_dropdown_content {
  position: absolute;
  background-color: var(--navigationBGColor);
  min-width: 250px;
  box-shadow: 0 8px 16px #00000026;
  z-index: 1;
  border-radius: 5px;
  top: 40px;
  transition: 0.5s all;
  right: 0;
  overflow: hidden;
}

@media screen and (max-width: 654px) {
  .flits_dropdown {
    width: 100%!important;
    margin-left: auto!important;
    margin-bottom: 10px;
  }
  .flits_dropdown_content {
    width: 100%!important;
    right: 0!important;
  }
}

