.flits_row {
  margin-left: -15px;
  margin-right: -15px;
}

.flits_col_md_6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.flits_mb_15 {
  margin-bottom: 15px !important;
}

.flits_input_wrap {
  display: block;
  align-items: center;
  position: relative;
  width: 100%;
}

.flits_read_input {
  display: flex;
}

.flits_width {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .flits_width {
    width: 100%;
  }
}
