.flits_input[type="text"],
.flits_input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0 !important;
  cursor: text;
  border: 1px solid;
  border-color: var(--borderColor);
  background: 0 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.2 !important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor) !important;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-weight: 700;
  display: inline-block !important;
  border: 0;
  outline: 0;
  box-shadow: none !important;
  padding: 0;
  height: auto;
  background: var(--inputBGColor) !important;
}

.flits_input_edit_mode[type="tel"],
.flits_input_edit_mode[type="text"] {
  padding: 8px 73px 8px 8px;
  padding-left: 40px;
  font-weight: 400;
}

.flits_country_code_textbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0 !important;
  cursor: text;
  border: 1px solid;
  border-color: var(--borderColor);
  background: 0 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.2 !important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor) !important;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.flits_country_code_textbox {
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 0;
  border: 0;
  box-shadow: none !important;
  pointer-events: none !important;
  border-radius: 0;
}

.flits_country_code_textbox:disabled {
  background: 0 0 !important;
  cursor: auto !important;
  opacity: 1 !important;
  border-color: var(--borderColor);
}

.flits_input[type="date"]:focus, .flits_input[type="email"]:focus, .flits_input[type="number"]:focus, .flits_input[type="password"]:focus, .flits_input[type="tel"]:focus, .flits_input[type="text"]:focus, .flits_textarea:focus {
  -webkit-box-shadow: var(--inputBoxShadow);
  box-shadow: var(--inputBoxShadow);
  border-color: var(--inputBGColor);
}

@media screen and (max-width: 767px) {
  .flits_input_edit_mode[type="text"],
  .flits_input_edit_mode[type="tel"] {
    background: 0 0 !important;
    border: 0;
    border-radius: 0;
    width: 100%;
  }
}
