.flits_row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .flits_row::before,
  .flits_row::after {
    display: table;
    content: " ";
  }
  
  .flits_row::after {
    clear: both;
  }