.flits_header_title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  color: var(--contentTextColor);
}

.flits_header_title strong {
  font-weight: 700;
}

@media screen and (max-width: 1025px) {
  .flits_header_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 860px) {
  .flits_header_title {
    font-size: 16px;
  }
}
