.flits_link_share_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
  border-radius: 10px;
  padding: 8px 10px;
}

.flits_link_share_btn_box p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  width: calc(100% - 100px);
}

.flits_share_btn_grp {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100px;
}

@media screen and (max-width: 1025px) {
  .flits_link_share_btn_box p {
    font-size: 10px;
    width: calc(100% - 70px);
  }
  .flits_share_btn_grp {
    width: 70px;
  }
  .flits_link_share_btn_box {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .flits_link_share_btn_box {
    width: 100%;
    max-width: 250px;
    margin-top: 7.5px;
    background: 0 0;
  }
}
