.flits_credit_box {
  padding: 15px;
  border: 1px solid;
  border-color: var(--borderColor);
  border-radius: 5px;
  position: relative;
}

.flits_refer_credit_table_div {
  height: 100%;
  animation: flitsFadeIn 0.7s;
}

.flits_h5 {
  margin: 0;
  color: var(--contentTextColor) !important;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.flits_credit_activity_title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  border-color: var(--borderColor);
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.flits_mb_0 {
  margin-bottom: 0 !important;
}

.flits_credit_log_item {
  background: 0 0;
  border-bottom: 1px solid;
  border-color: var(--borderColor);
  position: relative;
  display: block;
  padding: 10px 15px;
}

.flits_credit_log_title {
  font-weight: 700;
  display: block;
}

.flits_row {
  margin-left: -15px;
  margin-right: -15px;
}

.flits_row::before {
  content: " ";
  display: table;
}

.flits_row::after {
  content: " ";
  display: table;
  clear: both;
}

.flits_credit_log_detail {
  display: block;
}

.flits_credit_log_detail div:first-of-type {
  display: flex;
  align-items: center;
}

.flits_credit_right_border {
  border-right: 1px solid;
  border-color: var(--borderColor);
}

.flits_col_md_3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.flits_text_nowrap {
  margin: 0;
  color: var(--contentTextColor) !important;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.flits_credit_icon {
  line-height: 0;
}

@media screen and (min-width: 992px) {
  .flits_col_md_3 {
    float: left;
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .flits_credit_right_border {
    border-right: 0px !important;
  }
}

@keyframes flitsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
