.flits_input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  appearance: none;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0 !important;
  cursor: text;
  border: 1px solid;
  border-color: var(--inputBGColor);
  background: 0 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.2 !important;
  height: 36px;
  font-size: 16px;
  color: var(--contentTextColor) !important;
  -webkit-text-fill-color: var(--contentTextColor) !important;
  opacity: 1;
  -webkit-opacity: 1;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.flits_input[type="password"]::placeholder {
  -webkit-text-fill-color: #cbcbcb !important;
  color: #cbcbcb;
}

.flits_input[type="password"]:focus {
  -webkit-box-shadow: var(--inputBoxShadow);
  box-shadow: var(--inputBoxShadow);
  border-color: var(--borderColor);
}

.flits_hint {
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  z-index: 10;
  color: #fff;
  bottom: -47px;
  background: #000;
  opacity: 0;
  transition: 0.5s opacity;
  display: none;
  opacity: 0;
}

.flits_input:focus + .flits_hint {
  display: block;
  opacity: 1;
}

.flits_input_error {
  border: 1px solid!important;
  border-color: #d20000!important;
  background-color: #fff!important;
}
