.flits_input_label {
  position: relative;
  margin-left: 0;
  display: block;
  font-size: 15px;
  color: var(--contentTextColor);
  font-weight: 400;
  cursor: auto;
  min-width: 145px;
  margin-bottom: 3px;
}